<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <label for="email">login:</label>
  <input
    type="email"
    id="email"
    name="email"
    ngModel
    required
  >

  <label for="password">password:</label>
  <input
    type="password"
    id="password"
    name="password"
    ngModel
    required
  >

  <input type="submit" value="sign in" [disabled]="loginForm.invalid">
</form>
